@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exile&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme{
  --color-primary:#FBFBFB;
  --color-secondary:#393E46;
  --color-accent:#C5BAFF;
  --font-normal: 'Figtree', sans-serif;
  --font-main: 'Playwrite HU' , sans-serif;
  --font-fancy: 'Exile', sans-serif;
  --font-light: "Raleway", sans-serif;

}


