@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exile&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#FBFBFB;
  --color-secondary:#393E46;
  --color-accent:#C5BAFF;
  --color-third:#DA0C81;
  --gradient-third: linear-gradient(to right, #f80759, #bc4e9c);
  --font-normal: 'Figtree', sans-serif;
  --font-main: 'Playwrite HU' , sans-serif;
  --font-fancy: 'Exile', sans-serif;
  --font-light: "Raleway", sans-serif;
  --font-poppin: "Poppins", sans-serif;
  --font-ari: "Almarai", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 40s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}




